body {
    padding: 40px;
    padding-top: 20px;
}

.title {
    font-weight: bold;
}

.credits {
    color:rgb(107, 107, 107);
}

h1 {
    margin-bottom: 50px;
}

table {
    margin-top: 10px;
}

.dropdown, .description, label, input {
    margin-bottom: 6px;
}

table {
    width: 80%;
}

.search {
    margin-bottom: 30px;
}

.table_ms, .table_ss {
    width: 30%;
}

#table_id, #table_title, #table_dl {
    width: 14%;
}

tr:nth-child(even) {
    background-color: #e7e7e7;
}

#multiselect {
    width: 15%;
}

