body {
    padding: 40px;
    padding-top: 5px;
}

a, a:visited {
    text-decoration: none;
    color: #489d9c;
    
}

a:hover {
    color: #89edff;
}

.title {
    font-weight: bold;
}

.credits {
    color:rgb(107, 107, 107);
}

h1 {
    margin-bottom: 50px;
}

table {
    margin-top: 10px;
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 2px;
    padding-left: 14px;
    padding-right: 14px;
}

th {
    background-color: #cce8dd;
    padding: 4px;
    padding-left: 14px;
    padding-right: 14px;
    color: black;
}

.dropdown, .description, label, input {
    margin-bottom: 6px;
}

.search {
    margin-bottom: 30px;
}

.table_ms, .table_ss {
    width: 30%;
}

#table_id, #table_title, #table_dl {
    width: 14%;
}

tr:nth-child(even) {
    background-color: #cacaca;
}

#multiselect {
    width: 15%;
}

hr {
    color:rgb(243, 243, 243);
    margin-top: 30px;
    margin-bottom: 30px;

}